body {
  font-family: 'Roboto',sans-serif;
  font-size: large;
  color: rgb(12, 4, 60);
  margin: 0;
  padding: 0;

}

header {
  background-color: aquamarine;
}


footer {
  background-color: aquamarine;
  padding: 10px;
}

footer p {
  text-align: center;
}

/*this puts the page links to the other side on the header*/
nav {
  
}

a {
  color: green;
  text-decoration: none;
  padding-left: 2px;
  padding-right: 2px;
}

a.active {
  font-weight: 600;
}

.popup {
  display: none;
}

.img-gallery {
  display: flex;
  gap: 10px;
}

.img-gallery img {
  width: 320px;
  height: auto;
}

form {
    border: 2px solid blue;
    border-radius: 2px;
    width: 600px;
}

.field {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.input {
  display: block;
  border: 2px solid black;
  border-radius: 4px;
}

.input[type=text]:focus {
  border: 2px solid blue;
  border-radius: 4px;
}

.textarea:focus {
  border: 2px solid blue;
  border-radius: 4px;
}

.input.success input {
  border-color: greenyellow;
}

.input.error input {
  border-color: red;
}

.input .error {
color: red;
}

.textarea {
display: block;
border: 2px solid black;
border-radius: 4px;
height: 100px;
width: 500px;
}

form button {
  border: 2px solid black;
  background-color: blue;
  color: white;
  border-radius: 6px;
}

/* helper classes */
.container {
  max-width: 1440px;
  margin: 0 auto;
}

.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Responsive media queries */
@media screen and (max-width: 600px) {
  .img-gallery {
    flex-direction: column;
  }

  .img-gallery img {
    width: 100%;
  }
}
  