body {
  font-family: 'Roboto',sans-serif;
  font-size: large;
  color: rgb(12, 4, 60);
}

header {
  width: 1440px;
  height: 108px;
  display: inline;
}

a {
display: inline;
}

.about {
  width: 996px;
  height: 272px;
}