body {
  font-family: 'Roboto',sans-serif;
  font-size: large;
  color: rgb(12, 4, 60);
  margin: 0;
  padding: 0;

}

header {
  background-color: aquamarine;
}


footer {
  background-color: aquamarine;
  padding: 10px;
  margin-top: 40px;
}

footer p {
  text-align: center;
}

a {
  color: green;
  text-decoration: none;
  padding-left: 2px;
  padding-right: 2px;
}

a.active {
  font-weight: 600;
}

/* Image Gallery styles */
.popup {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.88);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.popup img {
  width: 90%;
  max-width: 1440px;
  margin: 20px auto;
}

.popup span {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 34px;
  cursor: pointer;
  color: white;
}

.img-gallery {
  display: flex;
  gap: 10px;
}

.img-gallery img {
  width: 320px;
  height: auto;
  cursor: pointer;
}

/* Form styling */
form {
  max-width: 600px;
}

form fieldset {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: none;
}

form legend {
  font-size: 18px;
  font-weight: 700;
}

form input, form textarea {
  margin-bottom: 14px;
  padding: 5px;
}

form button[type=submit] {
  padding: 8px;
  border: 2px solid black;
  background-color: blue;
  color: white;
  border-radius: 6px;
}

form input {
  display: block;
  border: 2px solid black;
  border-radius: 4px;
}

form input[type=text]:focus {
  border: 2px solid blue;
  border-radius: 4px;
}

.textarea:focus {
  border: 2px solid blue;
  border-radius: 4px;
}

form .success input {
  border-color: greenyellow;
}

form .error input {
  border-color: red;
}

form .error {
color: red;
}


/* helper classes */
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px
}

.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Responsive media queries */
@media screen and (max-width: 600px) {
  header h1 {
    font-size: 18px;
  }
  header .flex-header {
    flex-direction: column;
  }
  .img-gallery {
    flex-direction: column;
  }

  .img-gallery img {
    width: 100%;
  }
}
  